
<button id="open-question-form-modal" class="btn"><i class="material-icons right">rate_review</i>Aggiungi un post</button>


<div id="question-form-modal" class="modal">
  <div class="modal-content">
    <a id="close-question-form-modal" class="close-modal-icon">
      <i class="small material-icons">close</i>
    </a>
    <%= simple_form_for ([race, Question.new]), remote: true, html: { class: 'question-form' } do |f| %>
    <%= f.input :title, label:"Titolo del post" %>
    <%= f.input :text, label:"Testo" %>
    <%= f.button :submit, "Inserisci", class:"btn" %>
  <% end %>
</div>
</div>
