.checkbox {
  input {
    margin-right: 5px;
  }
}

.container-search-bar {
  padding-bottom: 0 !important;
  padding: 25px;
}

#races_date_range {
  background-color: white;
}

.col-searchbar {
  border-right: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.date-column {
  border-right: none;
}

.reset-all-button {
  margin: 10px 0;
}

.search-filter-title {
  font-size: 18px;
}

.flatpickr-input{
  color: #5a5a5a !important
}
