.checkbox{
  input{
    margin-right: 5px
  }
}

.container-search-bar{
    padding-bottom: 0px !important;
    border-bottom: 1px solid #e0e0e0;
}

#races_date_range{
  background-color: white
}

.col-searchbar{
  border-right: 1px solid #e0e0e0;
  padding-bottom: 15px;

}


.date-column{
  border-right: none
}


.container-search-bar{
  p{
    font-size: 14px;
    margin-bottom: 0px;
    display: inline;
    margin-right: 10px
  }
}

.search-filter-title{
  font-size: 18px;

}
