<div id="race-rating">
  <% (race.rating).to_i.times do  %>
    <i class="tiny rating-star material-icons">star</i>
  <% end %>
  <% number = (race.rating).to_s[-1].to_i %>
    <% if number < 6 && number != 0 %>
      <i class="tiny rating-star material-icons">star_half</i>
      <% elsif  number > 6 %>
        <i class="tiny rating-star material-icons">star</i>
      <% end %>
    </div>
