<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<%= render "searchbar" %>
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-7">
      <div id="races-list" class="row pt-4 pl-3">
          <%= render @races %>
      </div>
    </div>
    <div class="col-md-5 map-container-index">
      <div id="index-map" style="height: 100vh !important; width: 100%; width:100%" data-cordinates= "<%= @cordinates %>" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>



  <p>lòklkkò</p>
</div>


<!-- <script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
  cards = document.querySelectorAll(".race-card-index")
  cards.forEach((card) =>{
    card.addEventListener("mouseover", function(e){
      if (e.target.dataset.value != undefined){
        elementId = `#marker-${e.target.dataset.value}`
         myMarker = document.querySelector(elementId)
         myMarker.style.color = "#ef5f5f"

      }
    })
  })
  cards.forEach((card) =>{
    card.addEventListener("mouseout", function(e){
      if (e.target.dataset.value != undefined){
        elementId = `#marker-${e.target.dataset.value}`
         myMarker = document.querySelector(elementId)
         myMarker.style.color =" #3ba6d8"
      }
    })
  })

});

</script> -->
