var template = "<%= j render @races %>"
var containerMap = document.querySelector(".map-container-index")
containerMap.innerHTML = ''

     var el = document.getElementById('races-list');
     el.innerHTML = template;
//     var m = "<%=ActiveSupport::JSON.encode(@markers.to_json) %>";
//     m =  m.replace(/&quot;/g, '"').slice(1,-1);
//     var m = JSON.parse(m)
//     console.log("klkjlkjklj" + m);
//
//
//   var mapContainer = document.querySelector("#index-map")
//   if (mapContainer != null ){
//     var m = (JSON.parse(mapContainer.dataset.markers));
//     var latLng = m.map( e => [e.lng, e.lat])
//     mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VpZG9jYWxkYXJhIiwiYSI6ImNqbHB3dTBhODA2MDEzdnRhc2cxYmhqb3MifQ.LhCv9m9kuHP5uXeU14lkeA';
//     var map = new mapboxgl.Map({
//         container: mapContainer, // container id
//         style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
//         zoom: 3, // starting zoom
//     });
//      var bounds = new L.LatLngBounds(latLng);
//      map.addControl(new mapboxgl.NavigationControl())
//      m.forEach((e) => {
//        var el = document.createElement('i');
//        el.className = 'fas fa-map-marker marker';
//        el.dataset.value = e.id;
//        el.setAttribute("id", `marker-${e.id}`)
//        new mapboxgl.Marker(el)
//        .setLngLat([e.lng, e.lat])
//        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
//        .setHTML( '<a href="races/'+ e.id +'"><h5>' + e.name + '</h5></a>'))
//        .addTo(map);
//      })
//      map.setZoom(6);
//      map.fitBounds(bounds);
//
//
// }






// var newIds = m.map(a => a.id)
// var markers = document.querySelectorAll(".marker")
// markers.forEach((e) => {
//   id = parseInt(e.dataset.value)
//   if(newIds.includes(id)){
//     e.style.display = "block"
//   } else {
//     e.style.display = "none"
//   }
// })
// m.forEach((e) => {
//   var el = document.createElement('div');
//   el.className = 'marker';
//   el.dataset.value = e.id;
//   new mapboxgl.Marker(el)
//   .setLngLat([e.lng, e.lat])
//   .addTo(map);
// })
