
<div id="index-page-search" class= "container-search-bar container-fluid">
  <%= javascript_pack_tag 'index-page' %>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr("#races_date_range", {
      mode: "range"
  });
  const form = document.getElementById('filter_form');
  const range = document.querySelector("#races_date_range")
  range.addEventListener("change", function(){
    if (range.value.includes('to'))
    console.log(range.value.split("to")[0]);
    console.log(range.value.split("to")[1]);
    document.querySelector("#_races_first_date").value = range.value.split("to")[0]
    document.querySelector("#_races_last_date").value = range.value.split("to")[1]
    Rails.fire(form, 'submit');
  })

  document.querySelector("#loc-search").addEventListener("click", function(){
      Rails.fire(form, 'submit');
  })
</script> -->
<!-- <script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#_races_location')
  });
  console.log(places);


  placesAutocomplete.on('clear', function() {
  document.querySelector('#_races_location').textContent = 'none';
  });

})();
</script> -->
