<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, class:"nav-link", method: :delete %>
        </li>
      <% else %>
        <li>
          <a class="open-signin-modal-form">Accedi</a>
        </li>
        <li>
          <a class="open-signup-modal-form">Registrati</a>
        </li>
      <%end%>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if user_signed_in? %>
    <li>
      <%= link_to "Logout", destroy_user_session_path, class:"nav-link", method: :delete %>
    </li>
  <% else %>
    <li>
      <a class="login-modal open-signin-modal-form" >Accedi</a>
    </li>
    <li>
      <a class="login-modal open-signup-modal-form" >Registrati</a>
    </li>
  <%end%>
</ul>

<div id="signin-modal-form" class="modal">
  <div class="modal-content">
        <a id="close-signin-form-modal" class="close-modal-icon">
        <i class="small material-icons">close</i>
      </a>
    <%= render "users/sessions/new", resource: User.new %>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="signup-modal-form" class="modal">
  <div class="modal-content">
        <a id="close-signup-form-modal" class="close-modal-icon">
        <i class="small material-icons">close</i>
      </a>
    <%= render "users/registrations/new", resource: User.new %>
  </div>
  <div class="modal-footer">
  </div>
</div>

