
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <% images = ["http://lorempixel.com/400/200/sports", "http://lorempixel.com/400/200/animals", "http://lorempixel.com/400/200/city", "http://lorempixel.com/400/200/sports", "http://lorempixel.com/400/200/animals", "http://lorempixel.com/400/200/city", "http://lorempixel.com/400/200/sports", "http://lorempixel.com/400/200/animals", "http://lorempixel.com/400/200/city"] %>
    </div>
  </div>
</div>
