.answer-body {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.answer-info {
  font-size: 14px;
    color: #767676;

}

.answer-text {
  font-size: 15px;
}

.question-info {
  font-size: 12px;
}
