// @media screen and (max-width: 899px) {
// 	#show-map {
// 		height: 260px !important;
// 	}
//
// }

.map-container {
  height: 100vh;
  position: sticky;
  top: 0;
}

.marker {
	background-image: url("runner-icon-blu.png");
	background-size: cover;
	width: 27px;
	height: 48px;
	cursor: pointer;
	background-position: center;
}
