

#question_text{
  min-height: 250px
}
.text-question-big-container{
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  padding: 9px 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 400;
}


.text-question-small-container{
	padding: 10px;
  background: white;
  border-radius: 0.25rem;
  border: 1px solid #0000001c;
}
.answers-container{
  padding-top: 10px !important
}
