@import "bootstrap";
@import "typography";
@import "components/index";
@import "races/index";
@import "reviews/index";

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #484848;
}

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.marker {
	background-image: url(runner-icon-blu.png);
	background-size: cover;
	width: 27px;
	height: 48px;
	cursor: pointer;
	background-position: center;}
